#--------------
# Generic stuff
#--------------
*.cache
*.Debug
*.o
*.orig
*.out
*.Release
*~
.\#*
*.bak
*.DS_Store
*._*
*.directory
*-eps-converted-to.pdf
*.Rhistory

#------------------------------------
# Local make config & build directory
#------------------------------------
/.cproject
/.project
/MakeLocalConfig
/.settings/
target*/
build*/

#------------------------------------
# Latex stuff
#------------------------------------
src/doc/*/*.aux
src/doc/*/*.bbl
src/doc/*/*.blg
src/doc/*/*.out
src/doc/*/*.synctex.gz
src/doc/*/*.toc
src/doc/*/*.pdf
src/doc/*/*.log
