body{
}

.panel{
    background-color: #ccc;
    color: black;

    border-radius: 6px;
    border-bottom: 2px solid #bbc;

    padding: 8px;
    padding-left: 12px;
}

    .panel .panel-head{
        font-size: 1.6em;
        background-color: #ddd;

        border-bottom: 2px solid #bbc;

        border-radius: 6px;
        margin: -9px;
        margin-left: -13px;
        margin-bottom: 8px;

        padding: 6px;
        padding-left: 18px;

        cursor: all-scroll;
    }

    .control.panel{
        z-index: 10;
        position: fixed;
        top: 20px;
        left: 30px;
    }

    .legend.panel{
        z-index: 9;
        position: absolute;
        top: 300px;
        left: 30px;
        width: 120px;
    }

input.range-input{
    width: 75%;
    display: inline;
    position: relative;
    top: 6px;
}

.day-control > button{
    padding-bottom: 4px;
}

.map-view{
    position: relative;
    margin: 10px;
}

.map-image-crop {
    border-radius: 10px;
    border: 2px solid #999;
    position: relative;
    overflow: hidden;
}

.map-image-crop > img{
    /* cancel out the 2px border */
    margin:-2px;
}


.map-view svg{
    position: absolute;
    top: 0;
    left: 0;
}

circle{
    stroke: #444;
    stroke-width: 1px;
}

    circle:hover{
        stroke: #222;
        stroke-width: 2px;
        r: 12px;
        cursor: pointer;
    }

span.legend-circle{
    padding: 8px;
    border-radius: 8px;

    border-width: 1px;
    border-style: solid;
    border-color: #444;

    position: absolute;
    left: 50px;
}