body{
}

.panel{
    background-color: #ddd;
    color: black;
    box-shadow: rgba(0,0,255,0.15) 0px 2px 6px;

    border-radius: 6px;
    border-bottom: 2px solid #bbc;

    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    min-width: 100px;

    position: absolute;
}

    .panel > .panel-head{
        font-size: 1.4em;
        background-color: #ccd;

        border-bottom: 2px solid #bbc;

        border-radius: 6px;
        margin-top: -9px;
        margin-left: -13px;
        margin-right: -13px;
        margin-bottom: 8px;

        padding: 5px;
        padding-left: 15px;

        cursor: all-scroll;
    }
    
    .panel > .panel-body{
        padding: 0px;
    }

        .panel.collapsed > .panel-body{
            visibility: hidden;
            height: 0;
            margin-bottom: -10px;
            margin-top: -10px;
        }


    .generic.panel{
        position: absolute;
        z-index: 11;
    }

    .control.panel{
        position: fixed;
        z-index: 10;
        left: 30px;
        top: 20px;
    }

    .general-info.panel{
        z-index: 9;
        top: 180px;
        left: 30px;
        width: 250px;
    }

    .daily-info.panel{
        z-index: 8;
        top: 330px;
        left: 30px;
        width: 250px;
    }

    .graph.panel{
        z-index: 6;
        top: 460px;
        left: 30px;
        min-width: 150px;
    }

    .legend.panel{
        z-index: 7;
        top: 20px;
        right: 240px;
        width: 120px;
    }

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.clickable{
    cursor: pointer;
}

.panel-button{
    cursor: pointer;
    color: #99D;
    margin-left:5px;
    float:right;
    font-weight: bold;
}
    .panel-button:hover{
        text-decoration: none;
    }
    .panel-button.toggle-collapse{
        margin-right:5px;
    }
    .panel-button.close-panel{
        margin-top:4px;
        font-size:14px;
    }


.filename-output{
    color: #222;
}

span.info{
    font-weight: bold;
    color: #186;
    text-shadow: 0px 1px 0px #2b8;
}

span.legend-circle{
    padding: 8px;
    border-radius: 8px;

    border-width: 1px;
    border-style: solid;
    border-color: #444;

    position: absolute;
    left: 60px;
}

input.range-input{
    width: 250px;
    display: inline;
    position: relative;
    top: 6px;
}
    input.range-input::-webkit-slider-runnable-track {
        height: 6px;
        margin-top:-19px;
        background: #aab;
        border-top: 1px solid #88a;
        border-radius: 4px;
    }
    input.range-input::-webkit-slider-thumb {
        margin-top: -8px;
    }

.day-control > button{
    padding-bottom: 4px;
}

.day-control .checkbox-wrap{
    margin-left: 65px;
}

#table-view-pane{
    position: absolute;
    width: 100%;
    height: 100%;
}
    #table-view-pane > .table-view{
        overflow-y: scroll;
        height: 100%;
    }

.fade{
    pointer-events: none;
}

.fade.in{
    pointer-events: auto;
}

.map-view{
    position: relative;
    margin: 10px;
}
    .map-view svg{
        position: absolute;
        top: 0;
        left: 0;
    }

.map-image-crop {
    border-radius: 10px;
    border: 2px solid #bcd;
    position: relative;
    overflow: hidden;
}
    .map-image-crop > img{
        /* cancel out the 2px border */
        margin:-2px;
    }

circle{
    stroke: #444;
    stroke-width: 1px;
}
    circle:hover{
        stroke: #222;
        stroke-width: 2px;
        r: 12px;
        cursor: pointer;
    }

.graph-view .indicator-wrapper {
    width: 254;
    height: 135;
    left: 52;
    top: 65;
    position: absolute;
}

.town-graph .indicator-wrapper {
    width: 175;
    height: 90;
    left: 52;
    top: 98;
    position: absolute;
}

.indicator-wrapper > .indicator {
    height: 100%;
    border-left: 2px solid rgba(255, 0, 120, 0.5);
    width: 2px;
    position: relative;
}